@use '../globals/breaks' as b;

.contact-form {
    width: 80%;
    margin-inline: auto;

    &__item {
        display: grid;

        input,
        textarea {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid rgba(#36536B, .5);
            appearance: none;
            border-radius: 0;
            transition: all var(--trans-dur);

            &::placeholder {
                color: rgba(#36536B, .5);
            }

            &:focus-visible {
                outline-offset: 10px;
                outline: 5px solid;
                border-radius: 5px;
                outline-color: var(--clr-p-100);
                border-bottom: 0;
            }
        }

        input {

            &[type=text],
            &[type=email] {
                height: 74px;
            }
        }

        textarea {
            margin-top: 1rem;
            resize: none;
        }

    }

    .button {
        background-color: transparent;
        border-color: var(--clr-s-100);
        color: var(--clr-s-100);
    }

    @include b.breakpoint(md) {}
}

.checkbox {
    display: flex;
    align-items: center;
    margin-block: 1.5rem;

    label {
        line-height: 1.3;
    }

    input {
        appearance: none;
        width: 1.5rem;
        aspect-ratio: 1;
        background-color: rgba(#36536B, .25);
        position: relative;
        border-bottom: 0;
        cursor: pointer;
        margin-right: 1rem;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: #fff;
            transform-origin: left;
            transition: 150ms all linear;
            transition-delay: 0ms;
        }

        &::before {
            transform: translate(6px, 11px) rotate(-45deg);
        }

        &::after {
            transform: translate(3px, 8px) rotate(45deg);

        }

        &:checked {
            background-color: var(--clr-p-100);

            &::before {

                width: 10px;
                transition-delay: 150ms;
            }

            &::after {

                width: 4px;
                transition-delay: 0ms;
            }

        }
    }
}