@use '../globals/breaks' as b;
@use '../functions/func--line-height' as lh;

.nav--mobile {
    @include b.breakpoint(md) {
        display: none;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1.5rem;

    button {
        position: relative;
        z-index: 2;
    }

    ul {
        margin: 0;
        padding: 140px 0 0 0;
        background-color: var(--clr-s-300);
        color: var(--clr-p-200);
        transition: all var(--trans-dur);
        position: fixed;
        overflow: hidden;
        top: 0;
        width: 80%;
        left: 20%;
        z-index: 1;
        text-align: center;
        height: 100vh;

        &::before {
            position: absolute;
            content: '';
            width: 80%;
            height: 1px;
            background-color: var(--clr-p-200);
            opacity: 0.15;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
        }

        li {
            margin-bottom: 2rem;
            list-style: none;

            &:first-of-type {
                display: none;
            }

            &:nth-last-of-type(1) {
                margin-top: 3rem;
            }

            a {
                color: inherit;
                text-decoration: none;
                opacity: 0.7;
                font-weight: 700;
                font-size: 1.25rem;

                &.button {
                    opacity: 1;
                    padding: .65rem 2rem;

                }
            }
        }

        &[hidden] {
            display: block;
            left: 100%;
        }
    }
}

// Menu Button
.menu-button {
    width: 1.5rem;
    height: 1.063rem;
    position: relative;
    padding: 0;
    border: 0;
    background-color: transparent;

    span {
        position: absolute;
        transform: rotate(0deg);
        width: 100%;
        height: 0.188rem;
        background-color: var(--clr-s-100);
        opacity: 1;
        left: 0;
        transition: all var(--trans-dur);

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 50%;
            margin-top: -0.094rem;
        }

        &:nth-child(4) {
            bottom: 0;
        }
    }

    &[aria-expanded='true'] {
        span {
            background-color: #fff;

            &:nth-child(1),
            &:nth-child(4) {
                top: 50%;
                margin-top: -0.094rem;
                width: 0;
                left: 50%;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}