@use '../functions/func--line-height' as lh;
@use '../globals/breaks' as b;

body {
    font-family: var(--ff-400);
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    color: var(--clr-s-200);
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    font-family: var(--ff-500);
    color: var(--clr-s-100);
}



h1,
.h1 {
    font-size: clamp(2rem, 7vw, 4.5rem);
    line-height: 1;
    font-weight: 400;

    &.font-size-small {
        font-size: clamp(2rem, 8vw, 3.5rem);
        line-height: lh.lh(72, 72);
    }
}

.page-header {

    h1,
    .h1 {
        font-size: clamp(2rem, 9vw, 3.5rem);
        line-height: 1;
        text-align: center;

    }

    @include b.breakpoint(lg) {
        
        h1,
        .h1 {
            text-align: left;
            max-width: 70%;
        }
    }
}

h2,
.h2 {
    font-size: clamp(2.25rem, 6vw, 3rem);
    font-weight: 400;
    line-height: lh.lh(56, 48);
}

h3,
.h3 {
    font-size: clamp(1.5rem, 5vw, 2rem);
    line-height: lh.lh(40, 32);

    &.font-size-small {
        font-family: var(--ff-400);
        font-size: 1.125rem;
        line-height: 1.4;
        line-height: lh.lh(25, 18);
    }
}

h4,
.h4 {
    font-size: 1.5rem;
    line-height: 1.4;
    line-height: lh.lh(32, 24);
}

.text {
    &--center {
        text-align: center;
    }
}