@use './breaks' as b;

body {
    overflow-x: hidden;
    line-height: 1.625rem;
    font-family: var(--ff-400);
    font-size: 1rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    background-color: var(--clr-n-100);
    position: relative;
    color: var(--clr-s-100);

    &.grid {
        display: grid;
        min-height: 100vh;
        min-height: 100dvh;
        grid-template-rows: auto 1fr auto;
    }
}

.container {
    width: min(87.2%, 50rem);
    margin-inline: auto;

    @include b.breakpoint(md) {
        width: min(89.71%, 69.375rem);
    }
}

main {
    position: relative;
    --flow: 5rem;

    @include b.breakpoint(md) {
        --flow: 6.25rem;
    }

    @include b.breakpoint(lg) {
        --flow: 9.375rem;
    }
}

main,
footer {

    a {
        text-decoration: none;
        font-weight: 700;
        color: var(--clr-s-100);
        position: relative;
        overflow: hidden;
        transition: all var(--trans-dur);

        &::after {
            transition: all var(--trans-dur);
            position: absolute;
            content: '';
            width: calc(100% + 6px);
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 0;
            opacity: 0;
            background-color: var(--clr-p-100);
            z-index: -1;
        }

        &:focus-visible {
            outline: none;
            color: #fff;

            &::after {
                opacity: 1;
                height: 17px;
            }
        }

        &:hover {
            color: var(--clr-p-100);
        }
    }

}