---
import Layout from '~layouts/Layout.astro';
import Circle from '~components/Circle.astro';

import '~styles/styles.scss';
---

<Layout title="About">
	<Circle />
	<h1>About</h1>
</Layout>

<style></style>
