---
import Layout from '../layouts/Layout.astro';
import '~styles/styles.scss';
---

<Layout title="About.">
	<div class="container">
	<h1>
		About Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
		officia, esse, excepturi magnam fugit porro exercitationem amet quas
		error cum vel similique aliquid. Illo neque nesciunt, delectus aliquam
		facere corrupti.
	</h1>
	<h2>
		About Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
		officia, esse, excepturi magnam fugit porro exercitationem amet quas
		error cum vel similique aliquid. Illo neque nesciunt, delectus aliquam
		facere corrupti.
	</h2>
	<h3>
		About Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
		officia, esse, excepturi magnam fugit porro exercitationem amet quas
		error cum vel similique aliquid. Illo neque nesciunt, delectus aliquam
		facere corrupti.
	</h3>
	<h3 class="font-size-small">
		About Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
		officia, esse, excepturi magnam fugit porro exercitationem amet quas
		error cum vel similique aliquid. Illo neque nesciunt, delectus aliquam
		facere corrupti.
	</h3>
	<h4>
		About Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
		officia, esse, excepturi magnam fugit porro exercitationem amet quas
		error cum vel similique aliquid. Illo neque nesciunt, delectus aliquam
		facere corrupti.
	</h4>
</div>
</Layout>

<style></style>
