---
import Layout from '~layouts/Layout.astro';
import Circle from '~components/Circle.astro';

import '~styles/styles.scss';
---

<Layout title="Contact">
	<Circle />
	<h1>Contact</h1>
</Layout>

<style></style>
