---
import Layout from '~layouts/Layout.astro';
import Circle from '~components/Circle.astro';

import '~styles/styles.scss';
---

<Layout title="Contact">
	<Circle />
	<div class="page-header | container">
		<h1>Submit a help request and<br />we'll get in touch shortly.</h1>
	</div>
</Layout>
