---
import Button from './Button.astro';
---

<form action="#" class="contact-form">
	<div class="contact-form__item">
		<label class="hide" for="name">Name</label>
		<input type="text" id="name" placeholder="Name" />
	</div>
	<div class="contact-form__item">
		<label class="hide" for="email">Email Address</label>
		<input type="email" id="email" placeholder="Email Address" />
	</div>
	<div class="contact-form__item">
		<label class="hide" for="companyName">Company Name</label>
		<input type="text" id="companyName" placeholder="Company Name" />
	</div>
	<div class="contact-form__item">
		<label class="hide" for="title">Title</label>
		<input type="text" id="title" placeholder="Title" />
	</div>
	<div class="contact-form__item">
		<label class="hide" for="message"></label>
		<textarea name="message" id="message" placeholder="Message"></textarea>
	</div>
	<div class="contact-form__item checkbox">
		<input type="checkbox" id="optin" />
		<label for="optin"
			>Stay up-to-date with company announcements and updates to our API</label
		>
	</div>

	<Button text="Submit" classes="outline" />
</form>
