---
import Button from '~components/Button.astro';

export interface Props {
	title: string;
	bottom?: boolean;
}

const { title, bottom = false } = Astro.props;
---

<form action="#" class="form--email flow">
	{bottom ? <h2>{title}</h2> : <h1>{title}</h1>}
	<div class="group flow">
		<div class="form-element">
			<label for="email" class="hide">Enter email address</label>
			<input type="email" placeholder="Enter email address" />
		</div>
		<Button text="Secdule a Demo" classes="background-color-pink" />
	</div>
</form>
