---
export interface Props {
	text: string;
	classes?: string;
	isFiled?: boolean;
	borderVisible?: boolean;
}

const {
	text,
	classes,
	isFiled = true,
	borderVisible = false,
	...rest
} = Astro.props;
---

<button
	class:list={[
		'button clickme',
		classes,
		{
			filled: isFiled,
			border: borderVisible,
		},
	]}
	{...rest}>
	{text}
</button>

<script>
	// const button = document.querySelector('.clickme');
	// button.addEventListener('click', function () {
	// 	button.classList.toggle('active');
	// });
	import '~js/navigation';
</script>
