<section class="points | container">
	<div class="point-card">
		<div class="point-card__icon">
			<img src="shared/desktop/icon-finances.svg" alt="" />
		</div>
		<h3 class="point-card__title | font-size-small">Personal Finances</h3>
		<div class="point-card__text">
			Consolidate financial data from multiple sources and categorize
			transactions up to 2 years of history. Analyze reports to reconcile
			activities in your account.
		</div>
	</div>
	<div class="point-card">
		<div class="point-card__icon">
			<img src="shared/desktop/icon-banking.svg" alt="" />
		</div>
		<h3 class="point-card__title | font-size-small">Banking & Coverage</h3>
		<div class="point-card__text">
			With our platform, you can speed up account onboarding and support
			ongoing payments for checking, savings, credit card, and brokerage
			accounts.
		</div>
	</div>
	<div class="point-card">
		<div class="point-card__icon">
			<img src="shared/desktop/icon-payments.svg" alt="" />
		</div>
		<h3 class="point-card__title | font-size-small">Consumer Payments</h3>
		<div class="point-card__text">
			It's easier to set up secure bank payments with us through a flow
			designed with the user experience in mind. Customers could instantly
			authenticate their account.
		</div>
	</div>
</section>
